/* Add styles for the Edit page */
.edit-blog-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
  }
  
  .form-group {
    margin-bottom: 16px;
  }
  
  label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }
  
  textarea {
    resize: vertical;
  }
  
  .update-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .update-button:hover {
    background-color: #2980b9;
  }

  .existing-image{
    padding-top: 10px;
    width: 50%;
  }
  